body {
    font-family: sans-serif;
    text-align: center;
    color: rgb(40, 107, 231);
}

.video_preview {
    all: initial;
    display: inline-block;
    width: 320px; /* Width of YouTube thumbnail image */
    height: 280px;
    border-radius: 10px;
    margin: 30px;
    overflow: auto;
    text-align: left;
    font-family: sans-serif;
    color: rgb(40, 107, 231);
    cursor: pointer;
}

.video_link {
    display: inline-block;
}

.preview_text {
    margin: 2% auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.button, button {
    display: inline-block;
    padding: 8px 16px;
    text-align: center;
    margin-inline: 1%;
    width: 7em;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px #000;
    background-color: rgb(40, 107, 231);
    border-radius: 10px;
    outline: none;
    transition: 0.3s;
}

button:hover, .button:hover {
    background-color: rgb(70, 140, 255);
    border-color: rgb(70, 140, 255);
}

footer {
    margin-top: 4%
}

.preview_channel {
    float: left;
}

.preview_date {
    float: right;
}